@font-face {
  font-family: "proxima-regular";
  src: url("https://assets.circle.com/marketing/fonts/proxima-nova-regular-01f107d99744c57b25f8079e066ceebc.woff") format("woff"), url("https://assets.circle.com/marketing/fonts/proxima-nova-regular-c3b062aad3b7d988d10735522d830b67.ttf") format("truetype"), url("https://assets.circle.com/marketing/fonts/proxima-nova-regular-c68d15aee45406751da3b2cf51de250d.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima-bold";
  src: url("https://assets.circle.com/marketing/fonts/proxima-nova-bold-47ef072c6005db54cb283f2bafe40594.woff") format("woff"), url("https://assets.circle.com/marketing/fonts/proxima-nova-bold-9d8717112e076d30602ee44c94dea95a.ttf") format("truetype"), url("https://assets.circle.com/marketing/fonts/proxima-nova-bold-0ab0e2aa93a15a94e00f6cc08b647f8b.svg") format("svg");
  font-weight: normal;
}
@font-face {
  font-family: "proxima-thin";
  src: url("https://assets.circle.com/marketing/fonts/proxima-nova-thin-2d9a9775c4b20d84362e29d460b0a5ae.woff") format("woff"), url("https://assets.circle.com/marketing/fonts/proxima-nova-thin-1445b783e1914f4a7960b4a182eea56a.ttf") format("truetype"), url("https://assets.circle.com/marketing/fonts/proxima-nova-thin-f7aae9fd81400f75a2de578c385d13c1.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima-semibold";
  src: url("https://assets.circle.com/marketing/fonts/proxima-nova-semibold-5bb52e784b6532e30e4dc91ca1710cbf.woff") format("woff"), url("https://assets.circle.com/marketing/fonts/proxima-nova-semibold-0219bb5e0e29a1697d922236ab6eeb62.ttf") format("truetype"), url("https://assets.circle.com/marketing/fonts/proxima-nova-semibold-54421654049da851b9f7d7b93551840e.svg") format("svg");
  font-weight: normal;
}
.regular {
  font-family: "proxima-regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.bold {
  font-family: "proxima-bold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.light,
.thin {
  font-family: "proxima-thin";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.semibold {
  font-family: "proxima-semibold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.font-optimizing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.skinny-letterspacing {
  letter-spacing: .025em;
}
.wide-letterspacing {
  letter-spacing: .1em;
}
.preserve3d {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.hideBackface {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.resetTransform {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}
@-moz-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}
@-o-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}
body {
  padding: 0px;
  margin: 0px;
  font-family: "proxima-regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-weight: normal;
}
* {
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
label,
p {
  font-weight: normal;
}
p {
  line-height: 1.5em;
}
strong {
  font-weight: bold;
}
.dim-overlay {
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.4s 0s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 0.4s 0s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 0.4s 0s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -ms-transition: all 0.4s 0s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 0.4s 0s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition-duration: 0.4s;
  -moz-transition-property: all;
  -moz-transition-delay: 0s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.dim-overlay.on {
  z-index: 1000;
  opacity: .8;
}
.server-error {
  position: fixed;
  padding: 30px 5% 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  height: auto;
  background: #434345;
  top: -300px;
  left: 0;
  z-index: 999999;
  font-size: 1em;
  text-align: center;
  -webkit-transition: all 0.5s 0s ease-out;
  -moz-transition: all 0.5s 0s ease-out;
  -o-transition: all 0.5s 0s ease-out;
  -ms-transition: all 0.5s 0s ease-out;
  transition: all 0.5s 0s ease-out;
  -moz-transition-duration: 0.5s;
  -moz-transition-property: all;
  -moz-transition-delay: 0s;
}
.server-error.in {
  top: 0;
}
.server-error .error-message {
  width: 100%;
  margin: 0px;
  position: relative;
  color: #fff;
  display: block;
  text-align: center;
}
.server-error .error-message:before {
  margin: auto;
  display: block;
  margin-bottom: 20px;
}
.server-error .btn {
  position: relative;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 1em;
}
.error-message {
  width: 490px;
  position: relative;
  margin-top: -20px;
  top: -8px;
  font-weight: 700;
  color: #fff;
  text-align: left;
  display: none;
}
.error-message.error {
  display: inline-block;
}
.error-message:before {
  content: "!";
  text-align: center;
  position: relative;
  margin-top: -20px;
  top: -1px;
  padding: 5px;
  width: 30px;
  margin-right: 10px;
  height: 30px;
  background: tomato;
  color: #fff;
  display: inline-block;
  -webkit-border-top-right-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -webkit-border-top-left-radius: 50%;
  -moz-border-radius-topright: 50%;
  -moz-border-radius-bottomright: 50%;
  -moz-border-radius-bottomleft: 50%;
  -moz-border-radius-topleft: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.cookie-message {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #434345;
  z-index: 100;
  text-align: left;
  padding: 15px 55px 15px 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #fff;
  letter-spacing: .025em;
  -webkit-transition: all 0.5s 0s ease-in;
  -moz-transition: all 0.5s 0s ease-in;
  -o-transition: all 0.5s 0s ease-in;
  -ms-transition: all 0.5s 0s ease-in;
  transition: all 0.5s 0s ease-in;
  -moz-transition-duration: 0.5s;
  -moz-transition-property: all;
  -moz-transition-delay: 0s;
  opacity: .8;
}
.cookie-message a {
  color: #fff;
}
.cookie-message.hidden {
  bottom: -140px;
}
.cookie-message:after {
  position: absolute;
  display: inline-block;
  content: 'Ã—';
  width: 30px;
  height: 30px;
  font-size: 1.7em;
  text-align: center;
  padding: 0 0 0 2px;
  line-height: 1em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: transparent;
  border: 2px solid #fff;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  cursor: pointer;
  top: 50%;
  margin-top: -15px;
  right: 15px;
}
.cookie-message:hover:after {
  border-color: #fff;
}
.btn-general {
  letter-spacing: .1em;
  font-family: "proxima-semibold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}
.preload-images {
  display: none;
}
.header {
  position: fixed;
  height: 70px;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 20px 40px 0 40px;
  font-size: 0.875em;
  line-height: 50px;
  letter-spacing: .1em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.header .logo {
  float: left;
  width: 145px;
  height: 50px;
}
.header .logo svg {
  fill: #fff;
}
.header .sign-up-button,
.header .sign-in-button {
  min-width: 108px;
  padding: 0 5px;
  height: 50px;
  float: right;
  color: #fff;
  -webkit-transition: color 0.25s 0s linear;
  -moz-transition: color 0.25s 0s linear;
  -o-transition: color 0.25s 0s linear;
  -ms-transition: color 0.25s 0s linear;
  transition: color 0.25s 0s linear;
  -moz-transition-property: color;
  -webkit-transition: background-color 0.25s 0s linear;
  -moz-transition: background-color 0.25s 0s linear;
  -o-transition: background-color 0.25s 0s linear;
  -ms-transition: background-color 0.25s 0s linear;
  transition: background-color 0.25s 0s linear;
  -moz-transition-duration: 0.25s;
  -moz-transition-property: background-color;
  -moz-transition-delay: 0s;
}
.header .sign-up-button:hover,
.header .sign-in-button:hover {
  background-color: #fff;
  color: #8668ad;
}
.header .sign-up-button span,
.header .sign-in-button span {
  vertical-align: middle;
}
.header .sign-up-button {
  background-color: #ffffff;
  /* The Fallback */
  background-color: rgba(255, 255, 255, 0.25);
}
.header .sign-in-button {
  line-height: 46px;
  margin-left: 10px;
  border: 2px solid #fff;
  border-color: #ffffff;
  /* The Fallback */
  border-color: rgba(255, 255, 255, 0.25);
}
.header .language-button {
  margin-left: 10px;
  width: 37.5px;
  height: 50px;
  float: right;
  text-align: right;
}
.header .language-button a {
  font-family: "proxima-semibold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.5;
  text-decoration: none;
  vertical-align: middle;
  -webkit-transition: opacity 0.25s 0s linear;
  -moz-transition: opacity 0.25s 0s linear;
  -o-transition: opacity 0.25s 0s linear;
  -ms-transition: opacity 0.25s 0s linear;
  transition: opacity 0.25s 0s linear;
  -moz-transition-duration: 0.25s;
  -moz-transition-property: opacity;
  -moz-transition-delay: 0s;
}
.header .language-button a:hover {
  opacity: 1;
}
.header .menu-button {
  float: right;
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.header .menu-button svg {
  width: 30px;
  height: 30px;
  fill: #fff;
}
.language-menu {
  position: fixed;
  right: -201px;
  top: 0;
  width: 200px;
  height: 100%;
  background: #fff;
  color: #aaa;
  font-size: 14px;
  font-family: "proxima-semibold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: center;
  padding: 60px 0;
  z-index: 2000;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 0 10%;
  -moz-transform-origin: 0 10%;
  -ms-transform-origin: 0 10%;
  transform-origin: 0 10%;
  transform: perspective(1000px) scale(1.3) rotateY(-80deg);
  -webkit-transform: perspective(1000px) scale(1.3) rotateY(-80deg);
  -moz-transform: perspective(1000px) scale(1.3) rotateY(-80deg);
  -ms-transform: perspective(1000px) scale(1.3) rotateY(-80deg);
  -webkit-transition: all 0.4s 0s ease-in;
  -moz-transition: all 0.4s 0s ease-in;
  -o-transition: all 0.4s 0s ease-in;
  -ms-transition: all 0.4s 0s ease-in;
  transition: all 0.4s 0s ease-in;
  -moz-transition-duration: 0.4s;
  -moz-transition-property: all;
  -moz-transition-delay: 0s;
}
.language-menu .close {
  font-family: "proxima-regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 2em;
  line-height: 1em;
  position: absolute;
  right: 15px;
  top: 12px;
  color: #aaa;
  cursor: pointer;
}
.language-menu .close:hover {
  color: #434345;
}
.language-menu .language {
  margin: 10px auto;
  display: inline-block;
  cursor: pointer;
}
.language-menu .language:hover {
  color: #8668ad;
}
.language-menu .language.active {
  color: #8668ad;
}
.language-menu.in {
  -webkit-transition: all 0.3s 0s ease-out;
  -moz-transition: all 0.3s 0s ease-out;
  -o-transition: all 0.3s 0s ease-out;
  -ms-transition: all 0.3s 0s ease-out;
  transition: all 0.3s 0s ease-out;
  -moz-transition-duration: 0.3s;
  -moz-transition-property: all;
  -moz-transition-delay: 0s;
  transform: perspective(1000px) scale(1) rotateY(0deg) translate3d(-201px, 0, 0);
  -webkit-transform: perspective(1000px) scale(1) rotateY(0deg) translate3d(-201px, 0, 0);
  -moz-transform: perspective(1000px) scale(1) rotateY(0deg) translate3d(-201px, 0, 0);
  -ms-transform: perspective(1000px) scale(1) rotateY(0deg) translate3d(-201px, 0, 0);
}
.sidr {
  background: #434345;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 260px;
  right: -260px;
  overflow-x: none;
  overflow-y: auto;
  text-align: left;
  -webkit-transition: all 0.4s 0s ease-in;
  -moz-transition: all 0.4s 0s ease-in;
  -o-transition: all 0.4s 0s ease-in;
  -ms-transition: all 0.4s 0s ease-in;
  transition: all 0.4s 0s ease-in;
  -moz-transition-duration: 0.4s;
  -moz-transition-property: all;
  -moz-transition-delay: 0s;
}
.sidr .sign-up-button,
.sidr .sign-in-button {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.sidr .sidr-inner {
  padding: 0 0 15px;
}
.sidr .sidr-inner > p {
  margin-left: 15px;
  margin-right: 15px;
}
.sidr ul {
  list-style-type: none;
}
.sidr ul .btn {
  position: relative;
  background-color: #64aadd;
  height: 41px;
  width: 130px;
  line-height: 41px;
  font-size: 11px;
  left: 0;
  top: 0;
  padding: 0 26px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  letter-spacing: .1em;
  border: none;
  -webkit-transition: all 0.1s 0s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 0.1s 0s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 0.1s 0s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -ms-transition: all 0.1s 0s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 0.1s 0s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition-duration: 0.1s;
  -moz-transition-property: all;
  -moz-transition-delay: 0s;
}
.sidr ul .btn a {
  font-family: "proxima-bold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 100%;
  color: white;
  text-decoration: none;
}
.sidr ul .btn:hover {
  background-color: #695999;
}
.sidr ul .sign-in {
  margin-bottom: 40px;
}
.sidr ul li {
  margin-top: 15px;
  letter-spacing: .025em;
}
.sidr ul li.selected a {
  color: #ecedee;
}
.sidr ul li a {
  font-size: 14px;
  color: #9b9b9b;
  text-decoration: none;
  -webkit-transition: all 0.1s 0s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 0.1s 0s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 0.1s 0s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -ms-transition: all 0.1s 0s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 0.1s 0s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition-duration: 0.1s;
  -moz-transition-property: all;
  -moz-transition-delay: 0s;
}
.sidr ul li a:hover {
  color: #ecedee;
}
.sidr ul li a.sign-up-button,
.sidr ul li a.sign-in-button {
  font-size: 14px;
  font-family: "proxima-bold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: white;
  text-decoration: none;
}
.sidr ul a.menu-logo {
  text-align: center;
  padding-top: 20px;
}
.sidr ul a.menu-logo img {
  width: 50px;
}
.side-menu {
  z-index: 2000;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 0 10%;
  -moz-transform-origin: 0 10%;
  -ms-transform-origin: 0 10%;
  transform-origin: 0 10%;
  -webkit-transform: perspective(1000px) scale(1.3) rotateY(-80deg);
  -moz-transform: perspective(1000px) scale(1.3) rotateY(-80deg);
  -ms-transform: perspective(1000px) scale(1.3) rotateY(-80deg);
  transform: perspective(1000px) scale(1.3) rotateY(-80deg);
}
.side-menu.in {
  -webkit-transition: all 0.3s 0s ease-out;
  -moz-transition: all 0.3s 0s ease-out;
  -o-transition: all 0.3s 0s ease-out;
  -ms-transition: all 0.3s 0s ease-out;
  transition: all 0.3s 0s ease-out;
  -moz-transition-duration: 0.3s;
  -moz-transition-property: all;
  -moz-transition-delay: 0s;
  -webkit-transform: perspective(1000px) scale(1) rotateY(0deg) translate3d(-260px, 0, 0);
  -moz-transform: perspective(1000px) scale(1) rotateY(0deg) translate3d(-260px, 0, 0);
  -ms-transform: perspective(1000px) scale(1) rotateY(0deg) translate3d(-260px, 0, 0);
  transform: perspective(1000px) scale(1) rotateY(0deg) translate3d(-260px, 0, 0);
}
/* Mobile */
@media only screen and (max-width: 767px) {
  .header {
    padding: 20px 20px 0 20px;
    position: absolute;
  }
  .header .menu-button {
    display: block;
  }
  .header .language-button {
    margin: 0;
    width: auto;
    line-height: 30px;
  }
  .header .language-button a {
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 30px;
  }
  .header .sign-in-button,
  .header .sign-up-button {
    display: none;
  }
  .header .logo {
    width: 88px;
    height: 30px;
  }
  .android-app-banner + .header {
    top: 84px;
  }
  .android-app-banner.hidden + .header {
    top: 0;
  }
}
footer {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 50px;
  background: #fff;
  bottom: 0;
  padding: 0 250px;
  color: #282828;
  line-height: 50px;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
footer span {
  vertical-align: middle;
}
footer a {
  color: #282828;
  text-decoration: none;
  opacity: 0.5;
}
footer a:hover {
  color: #000;
  opacity: 1;
}
footer:after {
  content: '';
  display: block;
  clear: both;
}
footer .copyright {
  position: absolute;
  top: 0;
  left: 40px;
  font-size: 12px;
  letter-spacing: 0.025px;
  opacity: 0.5;
  text-align: left;
}
footer .links {
  font-family: "proxima-semibold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 0.75em;
}
footer .links span {
  padding: 0 10px;
  opacity: 0.5;
}
footer .socialmedia {
  position: absolute;
  top: 0;
  right: 40px;
}
footer .socialmedia svg {
  width: 16px;
  height: 16px;
  fill: #282828;
  top: 2px;
  position: relative;
}
footer .socialmedia a {
  vertical-align: middle;
  display: inline-block;
}
footer .socialmedia a:nth-child(2) {
  padding: 0 10px;
}
@media only screen and (max-width: 1140px) {
  footer {
    height: 130px;
    line-height: initial;
    padding: 20px 5px;
  }
  footer .socialmedia,
  footer .copyright,
  footer .links {
    position: relative;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    text-align: center;
  }
  footer .socialmedia {
    padding: 20px 0;
  }
}
/* Mobile */
@media only screen and (max-width: 767px) {
  footer {
    position: relative;
    z-index: 0;
    margin-bottom: 50px;
    border-bottom: 1px solid #ecedee;
    height: initial;
  }
  footer .links {
    line-height: 2.5;
  }
  footer .socialmedia {
    padding: 25px 0 35px 0;
  }
}
.content {
  text-align: center;
  padding-top: 120px;
}
.content .keyframe.join-preview {
  height: 100vh;
  margin-top: -120px;
  padding-top: 120px;
}
.content .keyframe.background {
  background-image: url('https://assets.circle.com/marketing/images/join/usd-2560-66b497b698f076883ac0eef91f603cc1.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-color: #04b07d;
}
@media only screen and (max-width: 1920px) {
  .content .keyframe.background {
    background-image: url('https://assets.circle.com/marketing/images/join/usd-1920-58da77e41ae48b166a29915321799bae.jpg');
  }
}
@media only screen and (max-width: 1600px) {
  .content .keyframe.background {
    background-image: url('https://assets.circle.com/marketing/images/join/usd-1600-c452c255dd10be64c08a12aa20119644.jpg');
  }
}
@media only screen and (max-width: 1280px) {
  .content .keyframe.background {
    background-image: url('https://assets.circle.com/marketing/images/join/usd-1280-e98063b4f42f39ac1c02337853a8e0a9.jpg');
  }
}
@media only screen and (max-width: 1024px) {
  .content .keyframe.background {
    background-image: url('https://assets.circle.com/marketing/images/join/usd-1024-3b72254bae4057d1375e7c20fc5fabd5.jpg');
  }
}
@media only screen and (max-width: 750px) {
  .content .keyframe.background {
    background-image: url('https://assets.circle.com/marketing/images/home/mobile/mobile-2-750-ade7fb9448b21f5befa9956a90d18a2d.jpg');
  }
}
.content ul {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  list-style-type: none;
  padding: 0px;
  width: 100%;
  bottom: 75px;
  position: absolute;
}
.content ul li:first-child {
  padding-left: 40px;
}
.content .input-container input {
  width: calc(100% - 20px);
}
.content .form-error-message {
  padding-top: 70px;
  font-size: 20px;
}
.content li {
  position: relative;
  white-space: nowrap;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 25px;
  width: 33.33%;
  color: #FFF;
  float: left;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  padding-right: 40px;
}
.content li a {
  color: #fff;
}
.content li .vertical-divider {
  position: absolute;
  top: 0px;
  left: 0px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  height: 80px;
}
.content li .icon {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-right: 20px;
  vertical-align: top;
  box-sizing: border-box;
}
.content li span {
  display: inline-block;
  white-space: normal;
  max-width: 400px;
  width: calc(100% - 90px);
  text-align: left;
}
hr {
  margin: auto;
  border: none;
  border-top: 2px solid #FFF;
  width: 60px;
  opacity: 0.5;
}
.intro {
  font-size: 16px;
  font-family: "proxima-semibold";
  color: #FFF;
  opacity: 0.5;
  margin: 15px 0px 16px 0px;
  text-transform: uppercase;
  letter-spacing: .1em;
}
.signUp {
  font-family: "proxima-regular";
  font-size: 36px;
  color: #FFF;
  margin: auto;
  letter-spacing: 0.025em;
  line-height: 35px;
}
.tagline {
  font-family: "proxima-regular";
  font-size: 22px;
  color: #FFF;
  opacity: 0.8;
  width: 650px;
  letter-spacing: 0.025em;
  margin: 9px auto 19px auto;
}
.header .sign-up-button:hover,
.header .sign-in-button:hover {
  color: #09a676;
}
.next-page-indicator {
  display: none;
}
@media only screen and (min-height: 795px) and (max-width: 1110px) and (min-width: 767px) {
  .content ul {
    bottom: 60px;
  }
  .content ul li {
    padding: 0 10px;
    width: 30%;
  }
  .content ul li:first-child {
    padding-left: 30px;
  }
  .content ul li:nth-child(2) {
    width: 40%;
  }
  .content ul li:last-child {
    padding-right: 40px;
  }
  .content ul li .icon {
    margin-right: 10px;
  }
  .content ul li span {
    width: calc(100% - 70px);
  }
}
@media only screen and (max-width: 1140px) {
  footer {
    margin-bottom: 0;
  }
}
/* Mobile */
@media only screen and (max-width: 767px), only screen and (min-width: 960px) and (max-width: 1025px) and (max-height: 900px), only screen and (max-height: 768px) {
  body {
    background: none;
  }
  .content .keyframe {
    position: relative;
    width: 100%;
    padding-top: 30px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  .content .keyframe.join-preview {
    margin-top: 0px;
    padding-top: 85px;
  }
  .content .keyframe.background {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .content .keyframe.background.join-background {
    background-image: url('https://assets.circle.com/marketing/images/join/mobile-1-750-d12ce319a6aa688ee129549419b7c5b9.jpg');
  }
  .content .keyframe.background.features-background {
    background-image: url('https://assets.circle.com/marketing/images/join/mobile-2-750-8b2833c86547b3f0962dea75215e98ef.jpg');
  }
  .input-container input {
    font-size: 20px;
  }
  .input-container.join {
    width: calc(100% - 60px);
  }
  .form-success-message.join {
    width: calc(100% - 60px);
  }
  .signUp {
    font-size: 30px;
    width: calc(100% - 100px);
  }
  .tagline {
    width: calc(100% - 80px);
    font-size: 16px;
  }
  .next-page-indicator {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    opacity: 0.8;
    -webkit-transition: opacity 0.8s 0s ease-out;
    -moz-transition: opacity 0.8s 0s ease-out;
    -o-transition: opacity 0.8s 0s ease-out;
    -ms-transition: opacity 0.8s 0s ease-out;
    transition: opacity 0.8s 0s ease-out;
    -moz-transition-duration: 0.8s;
    -moz-transition-property: opacity;
    -moz-transition-delay: 0s;
  }
  .next-page-indicator.out {
    opacity: 0;
  }
  .next-page-indicator svg {
    width: 20px;
    height: 20px;
    fill: #FFF;
    cursor: pointer;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }
  .content {
    padding-top: 0;
  }
  .content ul {
    position: initial;
  }
  .content ul li {
    position: relative;
    display: block;
    width: 100%;
    float: none;
    padding: 0px;
  }
  .content ul li:first-child {
    padding: 0px;
  }
  .content ul li .vertical-divider {
    display: none;
  }
  .content ul li .icon {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0px auto 10px auto;
  }
  .content ul li span {
    margin: 0px auto 30px auto;
    line-height: 20px;
    display: block;
    text-align: center;
  }
}
@media only screen and (max-width: 320px) {
  .next-page-indicator {
    display: none;
  }
}
